@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  /* scroll-behavior: smooth; */
}

a {
  text-decoration: none;
}

/* CONTENT */
.contactus {
  justify-content: center;
  max-width: 100%;
}

.contactus h1 {
  justify-content: center;
  text-align: left;
  background: linear-gradient(122deg, #9a0680, #79018c, #4c0070);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 28px;
  font-weight: 600;
  font-family: Poppins;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 20px;
}

.contactus .divider {
  height: 1.5px;
  width: 100%;
  margin-bottom: 3.5rem;
  margin-top: 2rem;
  background-color: #dcdcdc;
  margin-left: 3.5rem;
  max-width: 72rem;
}

.boxi {
  background-color: white;
  justify-content: center;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  width: 900px;
  height: 900px;
}

.meet {
  text-align: center;
  max-width: 100%;
}

.meet h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding-top: 4rem;
  padding-bottom: 30px;
  font-family: Poppins;
  color: #000000;
}

.telp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  max-width: 100%;
}

.telp img {
  height: 40px;
  width: 40px;
  justify-content: center;
  text-align: center;
  margin-right: 15px;
}

.telp a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-family: Poppins;
  font-size: 20px;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.email img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.email a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-family: Poppins;
  font-size: 20px;
}

.loc {
  text-align: center;
  max-width: 100%;
}

.loc h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Poppins;
  margin-top: 70px;
  margin-bottom: 15px;
  color: #000000;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 20px;
}

.location img {
  height: 40px;
  width: 40px;
  justify-content: flex-start;
  text-align: left;
  margin-right: 15px;
}

.location a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-family: Poppins;
  font-size: 20px;
}

.map iframe {
  display: flex;
  width: 800px;
  height: 500px;
  align-items: center;
  padding-bottom: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
/* End Content  */

/* Content Responsive */
@media only screen and (max-width: 1160px) {
  .contactus h1 {
    font-size: 30px;
    margin-top: 7rem;
  }

  .contactus .divider {
    height: 1.5px;
    width: 100%;
    margin-top: 2rem;
    background-color: #dcdcdc;
    margin-left: 4rem;
    min-width: 55rem;
  }

  .boxi {
    margin-left: 10rem;
  }

  .map iframe {
    display: block;
    padding-left: 20px;
  }
}

/* CRITICISM */
h1,
h2,
p,
form,
label,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.space {
  margin-top: 100px;
}
.message {
  grid-area: center;
  justify-content: center;
  align-items: center;
  width: 63%;
  margin: auto;
  font-size: 20px;
  font-family: Poppins;
  background: linear-gradient(310deg, #4c0070, #79018c, #9a0680);
  border-radius: 1px;
  color: white;
  z-index: -1;
  padding: 20px;
  border: 1px solid #ba55d3;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
}

.headline {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.chat form {
  display: flex;
  flex-direction: column;
}

form p {
  margin: 0 18px;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 15px;
  animation: fadeIn 6s ease-in-out;
}

.chat form {
  display: flex;
  flex-direction: column;
}

label {
  color: white;
  font-size: 16px;
  justify-content: left;
  display: flex;
  margin: 20px;
  margin-left: 3.6rem;
  font-weight: 500;
  cursor: pointer;
}

input {
  width: 100%;
  max-width: 40rem;
  height: 20px;
  background-color: white;
  justify-content: center;
  display: flex;
  margin-left: 3.5rem;
  margin-top: -9px;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: Poppins;
  border: 1px solid #dda0dd;
}

textarea {
  width: 100%;
  max-width: 40rem;
  height: 130px;
  background-color: white;
  justify-content: center;
  display: flex;
  margin-left: 3.5rem;
  margin-top: -9px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: Poppins;
  border: 1px solid #dda0dd;
}

form button {
  width: 100%;
  max-width: 14rem;
  height: 40px;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}

form button:hover {
  background-color: #160040;
  color: white;
}
/* End Criticism*/

/* Responsive Criticism*/
@media screen and (max-width: 992px) {
  .message {
    display: block;
    width: 45rem;
    position: relative;
    grid-area: center;
    justify-content: center;
    align-items: center;
    margin-left: 16rem;
  }

  label {
    color: white;
    font-size: 16px;
    justify-content: left;
    display: flex;
    margin: 10px;
    margin-left: 33px;
    font-weight: bold;
    cursor: pointer;
  }

  input {
    width: 90%;
    height: 35px;
    background-color: white;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
  }

  textarea {
    width: 90%;
    height: 70px;
    background-color: white;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
  }
}
/* End Responsive Criticism*/

/* FOOTER */
.footer {
  padding: 50px;
  background-color: #160040;
  font-family: Poppins;
  min-height: 100%;
  height: auto;
  margin-top: -1rem;
  min-width: 100%;
  width: 970px;
  justify-content: center;
  align-content: end;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 20px;
  z-index: inherit;
  padding-left: 7rem;
  margin-top: 6rem;
}

.gg h2 {
  display: flex;
  position: relative;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: left;
  font-size: 45px;
  margin-left: -150px;
  align-items: center;
  font-style: italic;
  margin-top: -65px;
  justify-content: space-around;
}

.gg p {
  color: #f0f8ff;
  text-align: left;
  font-size: 15px;
  padding-right: 6rem;
}

.footer .social {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

.footer .social li {
  list-style: none;
}

.footer .social li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  border-radius: 30px;
  margin: 0px;
  opacity: 0.75;
  border: 1px;
  line-height: 40px;
}

.footer .social li a i {
  color: white;
  font-size: 20px;
}

.social .ig {
  background: linear-gradient(to top, #ffc107, #f44336, #9c27b0);
}

.social .twit {
  background-color: #000000;
}

.social .fb {
  background-color: #0068fb;
}

.social .linked {
  background-color: #1976d2;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer .links {
  position: relative;
}

.footer .links h2 {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: left;
  font-size: 20px;
}

.footer .links ul li {
  list-style: none;
}

.footer .links ul li a {
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  color: #d3d3d3;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
}

.footer .links ul li a:hover {
  opacity: 1;
  color: #ffffff;
  letter-spacing: 2px;
  transform: scale(1);
}

.footer .copyright {
  background-color: #000000;
  margin-left: 2rem;
  margin-top: 3rem;
  text-align: left;
  font-size: 12px;
  color: #ffffff;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  font-size: 12px;
  min-height: 100%;
  height: auto;
  min-width: 100%;
  width: 970px;
}

.copyright .copy {
  margin-top: 10px;
  font-size: 13px;
}

.copyright i {
  margin-top: 13px;
  margin-left: 10px;
  text-align: right;
}

.copyright p {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 13px;
}
/* END FOOTER */

/* RESPONSIVE FOOTER */
@media screen and (max-width: 1181px) {
  .footer {
    background-color: #160040;
    font-family: Poppins;
    min-height: 100%;
    height: 300px;
    width: 100%;
    min-width: 1219px;
  }

  .copyright {
    background-color: #000000;
    font-family: Poppins;
    min-height: 100%;
    height: 90px;
    width: 100%;
    min-width: 1219px;
  }

  .copyright p {
    margin-top: 10px;
    margin-left: 5px;
  }

  .logo-gg img {
    margin-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    background-color: #160040;
    font-family: Poppins;
    min-height: 100%;
    height: 300px;
    width: 100%;
    min-width: 1219px;
  }

  .copyright {
    background-color: #000000;
    font-family: Poppins;
    min-height: 100%;
    height: 90px;
    width: 100%;
    min-width: 1219px;
  }

  .copyright p {
    margin-top: 10px;
    margin-left: 5px;
  }

  .logo-gg img {
    margin-left: 50px;
  }
}
